/*-- scss:defaults --*/
$primary: #6ea8fe;        // lighter blue for contrast
$link-color: #8ab4ff;
$link-hover-color: lighten($link-color, 8%);
$navbar-bg: #0b1324;
$navbar-dark-color: #cfe3ff;
$navbar-dark-hover-color: #ffffff;
$code-color: #e6e6e6;
$pre-color:  #e6e6e6;

/*-- scss:rules --*/
